services:
  cfs-portal:
    build: ./cfs-portal
    ports:
      - "3000:3000"
    volumes:
      - /usr/app/node_modules
      - ./cfs-portal:/usr/app
    environment:
      CHOKIDAR_USEPOLLING: "true"

  oss:
    build: ./oss
    ports:
      - "${OSS_PORT}:${OSS_PORT}"
    volumes:
      - ./oss:/usr/app
    depends_on:
      # - kafka
      # - zookeeper
      - mongo
    environment:
      - OSM_HOSTNAME=${OSM_IP}
      - OSS_PORT=${OSS_PORT}
      - KAFKA_BOOTSTRAP_SERVERS=${OSM_IP}:${KAFKA_PORT}
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
    restart: on-failure

  meao:
    build: ./meao
    volumes:
      - ./meao:/usr/app
    depends_on:
      # - kafka
      # - zookeeper
      - mongo
    environment:
      - OSM_HOSTNAME=${OSM_IP}
      - KAFKA_BOOTSTRAP_SERVERS=${OSM_IP}:${KAFKA_PORT}
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
    restart: on-failure

  container-data-api:
    build: ./container-data-api
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
      - NBI_URL=http://${OSM_IP}/osm
      - KUBECTL_COMMAND=${KUBECTL_COMMAND}
      - KUBECTL_CONFIG_PATH=${KUBECTL_CONFIG_PATH}
      - UPDATE_CONTAINER_IDS_FREQ=${UPDATE_CONTAINER_IDS_FREQ}

  mongo:
    image: mongo
    volumes:
      - app-mongo-db-data:/data/db
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: "${MONGO_USER}"
      MONGO_INITDB_ROOT_PASSWORD: "${MONGO_PASSWORD}"

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: "${MONGO_USER}"
      ME_CONFIG_MONGODB_ADMINPASSWORD: "${MONGO_PASSWORD}"
      ME_CONFIG_MONGODB_URL: mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongo:27017/
      ME_CONFIG_MONGODB_ENABLE_ADMIN: "${MONGO_EXPRESS_ENABLE_ADMIN}"

  # zookeeper:
  #   image: wurstmeister/zookeeper
  #   ports:
  #     - "2181:2181"
  #   ulimits:
  #     nofile:
  #       soft: 65536
  #       hard: 65536
  #   environment:
  #     ZOOKEEPER_CLIENT_PORT: 2181
  #     ZOOKEEPER_TICK_TIME: 2000
  #     ALLOW_ANONYMOUS_LOGIN: yes
  #   restart: on-failure
  #
  # kafka:
  #   image: "wurstmeister/kafka:latest"
  #   ports:
  #     - "9092:9092"
  #   environment:
  #     - KAFKA_BROKER_ID=1
  #     - KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092
  #     - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
  #     - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
  #     - ALLOW_PLAINTEXT_LISTENER=yes
  #   depends_on:
  #     - zookeeper
  #   restart: on-failure

volumes:
  app-mongo-db-data:
