version: "3"
services:
  meao:
    build: ./meao
    ports:
      - "${MEAO_PORT}:${MEAO_PORT}"
    volumes:
      - ./meao:/app
    networks:
      - network
    environment:
      - OSM_HOSTNAME=${OSM_HOSTNAME}
      - MEAO_HOSTNAME=${MEAO_HOSTNAME}
      - MEAO_PORT=${MEAO_PORT}

  oss:
    build: ./oss
    ports:
      - "3000:3000"
    volumes:
      - /app/node_modules
      - ./oss:/app
    networks:
      - network
    environment:
      CHOKIDAR_USEPOLLING: "true"

networks:
  network:
    driver: bridge
